@model JETC20250326.AppWebVC.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un usuario</h1>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="row">
            <div class="form-group col-6">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
          </div>
          <div class="row">
             <div class="form-group col-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
             </div>
             <div class="form-group col-4">
                <label asp-for="ConfirmarPassword" class="control-label"></label>
                <input asp-for="ConfirmarPassword" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
             </div>
            <div class="form-group col-4">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="">SELECCIONAR</option>
                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                    <option value="GERENTE">GERENTE</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
          </div>
        <div class="row">
            <div class="form-group col-md-4">
                <input type="submit" value="Crear" class="btn btn-primary" />|
                <a asp-action="Index">Cancelar</a>
            </div>
        </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
