@model JETC20250326.AppWebVC.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
          <div class="row">
            <div class="form-group col-4">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="">SELECCIONAR</option>
                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                    <option value="GERENTE">GERENTE</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
          <div class="row">
            <div class="form-group col-4">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index">Cancelar</a>
            </div>
          </div>
        </form>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
